@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    background: #E6E6FA
}

.container {
    max-width: 750px;
    margin: auto;
    border: 3px solid #778899;
    border-radius: 20px;
    padding: 20px 15px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0.25);
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.info-text p {
    font-style: italic;
    font-weight: 900;
    color: #696969;
    margin: 0;
}

@media (max-width: 620px) {
    .info {
        display: block;
        text-align: center;
    }
}

.card {
    border: 2px solid;
    border-radius: 20px;
    padding: 15px 20px;
    color: #000;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 15px;
}

.bg-green {
    background-color: #AFEEEE;
    border-color: #00CED1;
}

.bg-red {
    background-color: #F08080;
    border-color: darkred;
}

.bg-blue {
    background-color: #87CEFA;
    border-color: #4169E1;
}

a {
    color: #696969;
    text-decoration: none;
}

a:active {
    color: #9400D3;
}

a:hover {
    color: #4169E1;
    text-decoration: underline;
}

.btn {
    background-color: #F4A460;
    padding: 15px 20px;
    color: #000;
    border-color: #8B4513;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #696969;
    margin-bottom: 8px;
}

.table {
    width: 100%;
}

.table td {
    text-align: center;
    padding-bottom: 10px;
    color: #696969;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50%-20%); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 620px) {
    .form-row {
        display: block;
    }
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #696969;
}

.form-row .form-group {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}